strong {
    color: rgb(217, 106, 106);
}

li,
p {
    font-family: Helvetica;
}

h1,
h2,
h3 {
    font-family: Helvetica, Verdana, sans-serif;
}

h2,
h3 {
    background-color: rgb(250, 235, 215);
    font-weight: 800;
}

h1 {
    background-color: rgb(175, 238, 238);
    font-weight: 900;
}